<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709063332630-4c00dk3f17ub000m6s4fefqvak89d6lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709063332630-4c00dk3f17ub000m6s4fefqvak89d6lh</string>
	<key>API_KEY</key>
	<string>AIzaSyBm5pkmB0U_3m7fZfgZhWIZFpJa8xk6Jt8</string>
	<key>GCM_SENDER_ID</key>
	<string>709063332630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.palama.hubo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hubo-64b8c</string>
	<key>STORAGE_BUCKET</key>
	<string>hubo-64b8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709063332630:ios:dc58ccbac7d2d565e1f637</string>
</dict>
</plist>